* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
      scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;

    background-color: #233559!important;
}

section {
  border-bottom: 1px solid white;
  height: 100vh;
  scroll-snap-align: end;
  position: relative;
  color: white;
  overflow: hidden;
}

p {
  padding:10px;
}

.col-6 {
  /* padding: 0px 0px 0px 0px!important; */
}

.row {
  margin-right: 0px;
  padding: 70px 0px 0px 0px;
}

.col {
  padding-left: 15px;
  padding-right: 0px;
}

/*About CSS*/

#about {
  background-color: #233559;
  width: 100%;
}

#about-title {
  text-align:left;
  /* display: block; */
  top: 95%;
  left: 2%;
}

/*Education CSS*/

#education {
  background-color: #be2431;
  width: 100%;
}

#education-title {
  text-align:left;
  /* display: block; */
  top: 95%;
  left: 2%;
}

.educationAccomplishments {
  text-align: center;
  font-size: 16pt;
}

#fmuLogo {
  height: 100px;
  padding: 15px;
}

ul {
  list-style-type: none;
}

li {
  margin-left: 15px;
  /* visibility: hidden; */
}

h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}

@media screen and (max-width: 1200px) {

  .row {
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
  }

  .col {
    padding-left: 10px;
    overflow: hidden;

  }

  p {
    padding: 0px 20px 20px 20px;
  }

    /*About CSS*/

  #about-title {
    text-align: right;
    position: static;
    padding-top: 55px;
    padding-right: 20px;
    margin-bottom: 0px;
  }

  /*Education CSS*/

  #education-title {
    text-align: right;
    position: static;
    padding-top: 60px;
    padding-right: 10px;
  }

  #fmuLogo {
    display: none;
  }

  .educationAccomplishments {
    text-align: center;
  }

}

@media screen and (max-width: 360px) {

  p {
    font-size: 10pt;
  }

  .educationAccomplishments {
    text-align: center;
    font-size: 13pt;
  }

}

@media screen and (max-width: 320px) {

  p {
    font-size: 9pt;
  }

  .educationAccomplishments {
    text-align: center;
    font-size: 10pt;
  }

}
