html {
  /* scroll-behavior: smooth; */
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-y: scroll;
  display: flex;
  background-color: #233559!important;
}

#wrapper {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

hr {
  display: none;
}


section {
  border-bottom: 1px solid white;
  height: 100vh;
  scroll-snap-align: end;
  position: relative;
  color: white;
  overflow-x: hidden;
  scroll-snap-stop: always;
}

p {
  padding:10px;
}

h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}

.row {
  margin-right: 0px;
  padding: 10px 0px 0px 0px;
}

.col {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16pt;
}

.sectionTitles {
  text-align: right;
  top: 10%;
  right: 20%;
  padding-right: 20px;
}

/*About CSS*/

#mattAboutPhoto {
  border-radius: 50%;
  display: block;
  padding: 10px;
  display: block;
  margin-top: 60px;
  margin-left: 10px;
  height: 100px;
  width: 100px;
}

#about {
  background-color: #233559;
  width: 100%;
}

.aboutTitle {
  text-align: center;
  padding: 5px;
}

.hobbyTitle {
  text-align: center;
}

.aboutParagraph {
  padding: 0px 10px 0px 10px;
  margin-bottom: 8px;
}

#github-main {
  height: 50px;
  margin-right: 10px;
  padding-bottom: 5px;
}

#linkedin-main {
  height: 50px;
  margin-right: 10px;
  padding-bottom: 5px;
}

#myGitHub {
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
  margin-bottom: 12px;
}

/*Education CSS*/

#education {
  background-color: #be2431;
  width: 100%;
}

.educationAccomplishments {
  text-align: center;
  font-size: 20pt;
  top: 50%;
  bottom: 50%;
  margin-top: 15px;
  margin-bottom: 20px;
}

#fmuLogo {
  height: 80px;
  padding: 15px;
  display: block;
  margin-top: 60px;
  margin-left: 10px;
}

/*Experience CSS*/

#experience {
  background-color: #009acd;
  width: 100%;
}

#briefcase {
  height: 80px;
  padding: 15px;
  display: block;
  margin-top: 60px;
  margin-left: 10px;
}

.companyName {
  text-align: center;
  margin-top: 0px;
  padding: 5px;
}

.positionTitle {
  text-align: center;
}

.timePosition {
  margin-top: 15px;
  text-align: center;
}

.experienceLinks {
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
}

.experienceLinks:hover {
  color: darkslategray;
  text-decoration: none;
}

.experienceLinksDiv {
  text-align: center;
  margin-bottom: 12px;
  margin-top: 0px;
  font-size: 25px;
}

#github-acs {
  height: 25px;
  margin-right: 10px;
  padding-bottom: 5px;
}

#github-fmu-app {
  height: 25px;
  margin-right: 10px;
  padding-bottom: 5px;
}

#github-fmu-site {
  height: 25px;
  margin-right: 10px;
  padding-bottom: 5px;
}

/*Technologies CSS*/

#technologies {
  background: #a05ebb;
  width: 100%;
}

#hammer {
  height: 80px;
  padding: 15px;
  display: block;
  margin-top: 60px;
  margin-left: 10px;
}

.technologyTitle {
  text-align: center;
  margin-top: 0px;
  margin-right: 5px;
  padding: 5px;
}

.technologyList {
  list-style: none;
  text-align: center;
  margin-right: 50px;
  font-size: 15pt;
}

.technologyList li {
  padding: 6px;
}

/*Photography*/

#camera {
  height: 80px;
  padding: 15px;
  display: block;
  margin-top: 60px;
  margin-left: 10px;
  z-index: 2;
}

#photography-soon {
  text-align: center;
  font-family: 'Waiting for the Sunrise', cursive;
}

#photography-title {
  z-index: 100;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

@media screen and (max-width: 1000px) {

  hr {
    display: block!important;
    overflow: hidden!important;
    border-style: solid!important;
    border-top: none!important;
    border-width: 1px!important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white!important;
  }

  .row {
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
  }

  .col {
    padding-left: 10px;
    overflow: hidden;
  }

  p {
    padding: 0px 10px 10px 10px;
    font-size: 12pt;
    text-align: center;
  }

  .sectionTitles {
    text-align: right;
    position: static;
    padding-top: 60px;
    padding-right: 20px;
    margin-bottom: 0px;
  }

  /*About CSS*/

  #mattAboutPhoto {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top:0px;
  }

  .aboutParagraph {
    padding: 0px 10px 0px 10px;
    margin-bottom: 8px;
  }

  #myGitHub {
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
    margin-bottom: 25px;
  }

  /*Education CSS*/

  #fmuLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    margin-bottom: 20px;
    margin-top:0px;
  }

  .educationAccomplishments {
    text-align: center;
    margin-left: 0px;
    font-size: 14pt;
  }

  /*Experience CSS*/

  #briefcase {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top:0px;
  }

  /*Technologies CSS*/

  .technologyTitle {
    margin-top: 0px;
  }

  #hammer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    margin-bottom: 20px;
    margin-top:0px;
  }

  /*Photography*/

  #camera {
    display: none;
  }

  #photography-title {
    z-index: 100;
  }

}

@media screen and (max-width: 360px) {

  p {
    font-size: 10pt;
  }

  .educationAccomplishments {
    text-align: center;
    font-size: 11pt;
  }

  .aboutParagraph {
    padding: 0px 3px 3px 3px;
  }


  #mattAboutPhoto {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-bottom: 10px;
  }

  /*Experience CSS*/


}

@media screen and (max-width: 320px) {

  p {
    font-size: 9pt;
  }

  .educationAccomplishments {
    text-align: center;
    font-size: 10pt;
  }

  .aboutParagraph {
    padding: 0px 5px 5px 5px;
  }

  #mattAboutPhoto {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-bottom: 0px;
    height: 100px;
    width: 100px;
  }

  .row {
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
  }

  /*Experience CSS*/

  #experience-title {
    text-align: right;
    position: static;
    padding-top: 60px;
    padding-right: 20px;
    margin-bottom: 0px;
  }
}
