html {
  /* scroll-behavior: smooth; */
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-y: scroll;
  display: flex;
  background-color: black!important;
}

#wrapper {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

hr {
  display: none;
}

p {
  padding:10px;
}

h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}

.row {
  margin: 10px 0px 0px 20px;
  padding: 10px 10px 10px 10px;
}

.col {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16pt;
}

.sectionTitles {
  text-align: right;
  color: white;
  top: 10%;
  right: 20%;
  padding-right: 20px;
}

.soloPhoto {
  margin: 50px;
}

@media screen and (max-width: 1000px) {
  .soloPhoto {
    margin: 50px;
    text-align: center!important;
  }
}
