#wrapper > div {
  height: 50px!important;
  background: black!important;
}

#header {
  text-align: center;
}

#matt2Logo {
  position: absolute;
  display: inline;
}

#topLabels {
  position:absolute;
  margin-left: 75px;
}

#topLabels a {
  text-decoration: none;
  color: white;
}
#topLabels a:hover {
  color: #cccccc;
}

#aboutTop {
  margin-right: 30px;
}

#educationTop {
  margin-right: 30px;
}

#experienceTop {
  margin-right: 30px;
}

#photographyTop {
  margin-right: 30px;
}
