#header {
  text-align: right;
  height: 50px!important;
  background: black!important;
  opacity: 1.0;
  width: 100%;
  -webkit-user-select: none;
  padding-right: 0px;
}

#matt2LogoHome {
  margin-right: 10px;
}

#topLabels {
  text-align: right;
  width: auto;
  -webkit-user-select: none;
  /* margin-bottom: 5px; */
}

#topLabels a {
  text-decoration: none;
  color: white;
}

#topLabels a:hover {
  color: #cccccc;
}

#aboutTop {
  margin-right: 30px;
}

#educationTop {
  margin-right: 30px;
}

#experienceTop {
  margin-right: 30px;
}

#photographyTop {
  margin-right: 30px;
}

#contactTop {
  margin-right: 30px;
}

#mobileTrigger {
  display: none;
}

@media (max-width: 1000px) {
  #header {
    display: none;
  }

  #topLabels {
    display:none;
  }

  #mobileTrigger {
    display: block;
    padding: 10px 10px 10px 10px;
    position: fixed;
  }

  #listOfLinks {
    padding: 0;
    text-align: center;
  }


}
