body {
  color: black;
  font-family: "IBM Plex Sans";
  width: 100%;
}

hr {
  color: white;
}

body > div.container-fluid {
  margin-top: 50px;
}

#toggle {
  color: white;
  text-align: left;
  display: block;
}

#toggle:hover {
  cursor: pointer;
}

#wrapper {
  margin-top: 10px;
  padding: 0px 0px 0px 0px;
}

#privacy-policy {
  padding: 15px;
  color: white;
}


@media screen and (max-width: 1000px) {

  #wrapper {
    width: auto;
    margin-top: 0px;
    padding: 0px 0px 0px 0px;
  }

  #matt2LogoHomeSiderbar {
    margin-right: 30px;
  }
}
