body {
  color: black;
  font-family: "IBM Plex Sans";
  width: 100%;
}

hr {
  color: white;
}

body > div.container-fluid {
  margin-top: 50px;
}

#toggle {
  color: black;
  /* margin-left: 10px;
  margin-right: 10px; */
  text-align: left;
  display: block;
}

#toggle:hover {
  cursor: pointer;
}

#wrapper {
  margin-left: 100px;
  margin-right:100px;
  width: auto;
  margin-top: 70px;
}

@media screen and (max-width: 1000px) {
  #wrapper {
    margin-left: 55px;
    margin-right: 55px;
    width: auto;
    margin-top: 70px;
  }
}
