body {
  color: black;
  font-family: "IBM Plex Sans";
  width: 100%;
}

hr {
  color: white;
}

body > div.container-fluid {
  margin-top: 50px;
}

.menu-toggle {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  /* position: fixed; */
}

.menu-toggle:hover {
  cursor: pointer;
}

#wrapper {
  margin-left: 100px;
  margin-right:100px;
  width: auto;
  margin-top: 70px;
}
