html {
  /* scroll-behavior: smooth; */
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-y: scroll;
  display: flex;
  background-color: #233559!important;
  position: relative;
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
}

#wrapper {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

hr {
  display: none;
}


section {
  border-bottom: 1px solid white;
  height: 100vh;
  scroll-snap-align: end;
  position: relative;
  color: white;
  overflow-x: hidden;
  scroll-snap-stop: always;
}

p {
  padding:10px;
}

h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}

.row {
  margin-right: 0px;
  padding: 10px 0px 0px 0px;
}

.col {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16pt;
}

.sectionTitles {
  text-align: right;
  top: 10%;
  right: 20%;
  padding-right: 20px;
}

/* travel */

#travel {
  width: 100%;
}

#myTravelBackground {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#travel-link {
  text-align: center;
  color: white;
  font-family: 'Waiting for the Sunrise', cursive;
}

#travel-link a {
  text-decoration: none;
}

#travel-title {
  z-index: 100;
}

/* MODELS */

#models {
  width: 100%;
}

#myModelsBackground {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#models-link {
  text-align: center;
  color: white;
  font-family: 'Waiting for the Sunrise', cursive;
}

#models-link a {
  text-decoration: none;
}

#models-title {
  z-index: 100;
}

/* urban */

#urban {
  width: 100%;
}

#myUrbanBackground {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#urban-link {
  text-align: center;
  color: white;
  font-family: 'Waiting for the Sunrise', cursive;
}

#urban-link a {
  text-decoration: none;
}

#urban-title {
  z-index: 100;
}

/* NATURE */

#nature {
  width: 100%;
}

#myNatureBackground {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#nature-link {
  text-align: center;
  color: white;
  font-family: 'Waiting for the Sunrise', cursive;
}

#nature-link a {
  text-decoration: none;
}

#nature-title {
  z-index: 100;
}


/* SPORTS */

#sports {
  width: 100%;
}

#mySportsBackground {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#sports-link {
  text-align: center;
  color: white;
  font-family: 'Waiting for the Sunrise', cursive;
}

#sports-link a {
  text-decoration: none;
}

#sports-title {
  z-index: 100;
}

/* MUSIC */

#music {
  width: 100%;
}

#myMusicBackground {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#music-link {
  text-align: center;
  color: white;
  font-family: 'Waiting for the Sunrise', cursive;
}

#music-link a {
  text-decoration: none;
}

#music-title {
  z-index: 100;
}

/*FOOTER*/
#mattfooter {
  padding: 10px;
}

#mattfooter a {
  padding: 5px;
}

#addImage {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  color: white;
  text-align:center;
}

@media screen and (max-width: 1000px) {

  #wrapper {
    width: 100%;
    margin-top: 0px;
    padding: 0px 0px 0px 0px;
  }

  .sectionTitles {
    text-align: right;
    position: static;
    padding-top: 60px;
    padding-right: 20px;
    margin-bottom: 0px;
    z-index: 100;
  }

  /*FOOTER*/
  #mattfooter {
    padding: 10px;
  }

  #mattfooter a {
    padding: 5px;
  }

  #px500 {
    padding-right: 0px;
  }
}
